@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.active {
    background-color: #575757 !important ;
    color: white;
}

.bg-custom {
    background-color: var(--dynamic-bg-color);
}

.text-custom {
    color: var(--dynamic-text-color);
}
.AzertyEnter {
    display: flex;
    align-items: flex-start;
    width: 48px;
    height: 42px;
    margin-bottom: 0;
    padding-bottom: 0;
    position: relative;
    transform: translateY(-4px);
}

.AzertyShift {
    min-height: 38px;
    min-width: 70px;
    font-size: 12px;
    display: flex;
    font-weight: bold;
    align-items: flex-start;
    margin-bottom: 0;
    padding-bottom: 0;
    position: relative;
    box-sizing: border-box;
}

#keyboardlayout {
  appearance: none;       
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #1a1a1a;
  color: white;
  border: 1px solid #343434;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  cursor: pointer;
}


#keyboardlayout::after {
  content: "▼"; 
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

/*
#Phrase span {
  overflow: hidden;
  animation: cursor 0.5s step-end infinite alternate-reverse;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
  */
